### Nom et prénom: Kaouthar BOUSBAA

### Exercice 1:

In [3]:
x = 3.0

In [4]:
type(x)

float

In [5]:
int(x)

3

In [6]:
type(x)

float

In [7]:
x = int(x)

In [8]:
type(x)

int

In [9]:
y = 3

In [10]:
type(y)

int

In [11]:
y = float(y)

In [12]:
type(y)

float

La fonction type() permet de retourner le type d'un objet. La fonction int() permet de renvoyer une valeur entière. La fonction float() permet de stocker des nombres à virgule flottante.

Les types de variables que nous avons mis en évidence ici sont de type int (valeur entière) et float.

Pour changer une variable de type flottante en une variable de type entier, on utilise la fonction int(). POur changer une variable de type flottante en une variable de type entier, on utlise la fonction float().

### Exercice 2:

In [13]:
A = ['a','b', 'c']

In [14]:
type(A)

list

In [16]:
B = 'abc'

In [17]:
type(B)

str

Pour changer une variable de type string en une variable de type list, on utilise la fonction list(). Et pour changer une variable de typz list en une variable de type string, on utilise dans ce cas la méthode .join().

### Exercice 3:

In [18]:
A = 1

In [19]:
A = bool(A)

In [20]:
print(A)

True

In [21]:
B = not A

In [22]:
B = A

In [23]:
A = A and B

In [25]:
type(A)

bool

In [26]:
type(B)

bool

Le type de variable que nous avons mis en évidence est: le type booléen, un type de données qui ne peut prendre que deux valeurs: True ou bien False.

### Exercice 4:

In [39]:
#==================================================================
#Programme Python pour convertir une liste en cha^ıne
#Fonction de convertion
def listToString(lis):
# initialise une chaine vide
    str1 = ' '
# traverser la chaine
    for ch in lis:
        str1 = str1 + ' ' + ch 
    return str1
#----------------------------------------------------
# code de test
s = ['L\'intelligence', 'est' , 'la faculté à conna^ıtre', 'à comprendre' , 'et à raisonnner']
print(listToString(s))
#alternative
print(' '.join(s))
#==================================================================

  L'intelligence est la faculté à conna^ıtre à comprendre et à raisonnner
L'intelligence est la faculté à conna^ıtre à comprendre et à raisonnner

### Exercice 5:

In [45]:
# ------------------- programme principal --------------------------------------
## instruction input :
nom = input("ton nom ? ")
# essayer raw_input("ton nom ? ")
age = input("age ? ")
age = float(age)
print("\t Nom :", nom, "\t Age :", age)
#
# -------------------bonnes pratiques : --------------------------------------------
#nom = raw_input("ton nom ? ") # pour une chaine
#age = float(input("age ? ")) # sinon : transtyper explicitement
#print("{}\n\t Nom : {}\t Age : {}".format("-"*40, nom, age))
#---------------------------------------------------------------------------------------

ton nom ? Kaouthar
age ? 20
	 Nom : Kaouthar 	 Age : 20.0

### Exercice 8:

1)- L'intelligence artificielle c'est rendre une machine intelligente.

2)- C'est Jhon McCarthy qui a inventé le terme Intelligence Artificielle.

3)- Parmi les inconvénients de l'Intelligence Artificielle: menaçante, et coût élevé.

4)- Les caractéristiques du système informatique capable de penser, de raisonner et d'apprendre sont connues: intelligence artificielle.

5)- Le succès d'un comportement intelligent d'un système peut être mesuré avec le test de Turing.

6)- Netflix ne s'agit pas de IA.

7)- La géologie ne peut pas construire un système intelligent.

8)- Le terme Intelligence Artificielle a été inventé en 1956.

9)- Si un robot peur modifier sa propre trajectoire en réponse à des conditions externes, il est considéré comme intelligente.